<!-- <div class="cart-container">
    <div class="cart-page p-4 mt-5">
        <div class="cart-header">
            <h1>Your cart:</h1>
        </div>
        
        <div class="list-products" *ngFor="let product of productList">
            <div class="list-product-description">
                <p>{{product.decription}}</p>
            </div>
    
            <div class="list-product-price">
                <h2>{{product.price}}</h2>
            </div>

            <div class="remove-product">
                <button type="button" class="btn btn-danger my-4">Remove</button>
            </div>
        </div>

        <div class="user-info">
            <h3>Shipping to:</h3>
            <p>{{user.address}}</p>
        </div>

        <div class="total">
            <h3>Total:</h3>
            <p>{{order.total}}</p>
        </div>

        <button type="submit" class="btn btn-primary btn-lg my-4">Place Order</button>
    </div>
</div>
 -->
